name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'

      # Installs dependencies
      - name: Install dependencies
        run: pip install -r requirements.txt
        

      # Runs pytest script
      - name: Runs the test script
        run: pytest
